.notfound {
  &__wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      font-size: 150px;
    }
    p {
      padding-top: 10px;
      text-transform: capitalize;
      border-top: 1px solid var(--dark-color);
      margin-bottom: 0;
    }
  }
}
