.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 15px 30px;
  z-index: 99999;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  @include md {
    padding: 15px 20px;
  }
  &.sticky {
    position: fixed;
    background-color: var(--darkO-color);
  }
  &.dark {
    background-color: var(--darkO-color);
  }
  &__wrap {
    padding: 0 20px;
  }
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  &__logo {
    transition: all 0.3s;
    position: relative;
    display: block;
    width: 25vmin;
    max-width: 180px;
    svg {
      transition: opacity 0.3s ease-in;
      path {
        fill: #ad976e;
      }
      rect {
        fill: transparent;
      }
      &:first-child {
        opacity: 1;
        width: 100%;
        z-index: 3;
      }
      &:last-child {
        position: absolute;
        top: 0;
        inset-inline-end: 10px;
        opacity: 0;
        height: 100%;
      }
    }
    &.active-link {
      svg {
        &:first-child {
          opacity: 1;
        }
        &:last-child {
          opacity: 0;
        }
      }
    }
  }
  &__nav {
    position: relative;
    &-trigger {
      display: none;
      position: relative;
      width: 35px;
      z-index: 9999999;
      padding: 0;
      @include md {
        display: block;
      }
      svg {
        width: 100%;
        fill: #ad976e;
        transition: all 0.34s ease-out;
      }
      .line {
        opacity: 1;
        transform: rotate(0) translateY(0) translateX(0);
        transform-origin: 1em 1em;
        transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
        &-1 {
          transform-origin: 1em 34%;
        }
        &-3 {
          transform-origin: 1em 65%;
        }
      }
    }
  }
}

.nav-container {
  @include md {
    width: 100%;
    height: 100%;
    max-width: 250px;
    z-index: 999999;
    position: fixed;
    z-index: 80;
    top: 0;
    inset-inline-end: -280px;
    padding: 0 20px;
    background-color: var(--darkO-color);
    transition: inset-inline-end 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
    will-change: inset-inline-end;
  }
  ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 15px;
    height: 100%;
    @include md {
      -ms-flex-direction: column;
      flex-direction: column;
      padding-inline-end: 0;
      text-align: center;
      padding-top: 30px;
    }
  }
  a {
    position: relative;
    display: block;
    @include md {
      padding: 1rem 0 !important;
    }
    font-size: var(--nav-links-font-size);
    text-decoration: none;
    color: var(--white-color);
    will-change: transform;
    &.active-link,
    &:hover {
      color: var(--gold-color);
      &:after {
        width: 50%;
      }
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 5px;
      inset-inline-start: 0;
      width: 0;
      height: 1px;
      background-color: #60606e;
      transition: all 0.3s ease-in-out;
    }
  }
  .language {
    a {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: var(--dark-color);
      font-size: 0.85rem;
      color: var(--white-color);
      text-decoration: none;
      opacity: 1;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s ease;
      text-align: center;
      width: 25px;
      height: 25px;
      &:after {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
      &.active {
        background-color: var(--gold-color);
        opacity: 1;
      }
    }
  }
}
[data-navopen='true'] {
  .nav-container {
    inset-inline-end: 0 !important;
  }
  // .header__logo {
  //   opacity: 0;
  //   pointer-events: none;
  // }
  .language-selector {
    opacity: 0;
  }
  .header__nav-trigger svg {
    fill: var(--gold-color);
  }
  .header__nav-trigger {
    .line-1 {
      transform: rotate(45deg) translateY(0) translateX(0);
    }
    .line-2 {
      opacity: 0;
    }
    .line-3 {
      transform: rotate(-45deg) translateY(0) translateX(0);
    }
  }
  .menu-item {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
:lang(ar) .header__nav-trigger svg {
  transform: scale(-1);
}
