@import './abstracts/animations';
html[lang='ar'] {
  .nav-container {
    transform: translateX(-130%);
  }
  .header .language-selector {
    transform: translateX(50%);
  }
  .section__number h2:after {
    transform: translateX(50%);
  }
  .portfolio__item .content {
    transform: translate(50%, -50%);
  }
  .info .simplebar-track {
    left: 0;
    right: auto;
  }
  .hero .owl-stage-outer {
    direction: initial;
  }
}
